services:
  php:
    container_name: symfony
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - ./back:/app
  
  nginx:
    image: nginx:1.27-alpine
    restart: unless-stopped
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./back:/app:ro
    ports:
      - 80:80

  mysql:
    image: mysql:8.4
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: app
    ports:
      - 3306:3306
    volumes:
      - product_mysql:/var/lib/mysql

volumes:
  product_mysql: